<h1>Drive/New</h1>
<span id="status">
  Initialising...
</span>
<div id="manual-login" style="display:none">
  Could not log in automatically. Please <button id="login">Sign In With Google</button>
</div>
<%= erb :vendor_scripts %>
<%= erb :own_scripts %>

<script>
var setStatus = function (statusMsg) {
    document.getElementById('status').innerHTML=statusMsg;
  },

  defaultTitle = 'all new untitled mind map',
  queryStringParams = window.location.search.substr(1).split('&').reduce(
    function (memo, component) {
      var kvp = component.split('=').map(decodeURIComponent); 
      memo[kvp[0]]=kvp[1];
      return memo;
    }, {}
  ),
  driveState = JSON.parse(queryStringParams.state),
  authenticator = new MM2.GoogleAuthenticatorService({
      client_id:'<%=ENV['GOOGLE_OAUTH_CLIENT_ID']%>', 
      scope: '<%=settings.startup_drive_scopes%>',
      'cookie_policy': 'single_host_origin'
  }),
  googleDriveService = new MM2.GoogleDriveService(),
  postLogin = function(userProfile) {
    if (driveState.action === 'create') {
      setStatus('creating a file in folder ' + driveState.folderId + ' for user ' + userProfile.getEmail());
      googleDriveService.createShortcut(userProfile.getAuthToken(), defaultTitle, driveState.folderId).then(function (id) { 
        setStatus('File shortcut created: ' + id + ' for user ' + userProfile.getEmail());
        window.history.replaceState({},defaultTitle, '/drive/file/' + id);
      }, function (textStatus, errorThrown) {
        setStatus('Sadly, creating a file failed: [' + textStatus + '] ' + errorThrown);
      });
    } else {
      setStatus('unsupported action ' + driveState.action);
    }
  };

window.addEventListener('MM:GoogleScriptsFailed', function () {
  setStatus('Sadly, Google Script Loading failed!');
});

window.addEventListener('MM:GoogleScriptsLoaded', function () {
  if (!window.jQuery) {
    setStatus('Sadly, Vendor Script Loading failed!');
  }
  if (!driveState || !driveState.userId) {
    setStatus('invalid drive status request - no user id specified'); 
  }
  setStatus('signing in');
  authenticator.backgroundAuthenticate(driveState.userId).then(postLogin, function () {
    $('#manual-login').show();  
  });
  $('#login').on('click', function (token) {
    authenticator.modalAuthenticate(driveState.userId).then(function (profile) {
      $('#manual-login').hide();  
      postLogin(profile); 
    }, function () {
      setStatus('Sadly, login failed'); 
    });
  });
});

</script>
<%= erb :google_load_scripts %>

